{{template "base" .}}

{{define "content"}}

<div class="container">

    <div class="row ">
      <div class="col-lg-12 col-md-12 col-md-12 col-sm-12 col-xs-12 ">
        <img src="/static/images/image11.png" class=" mx-auto d-block img-fluid  img-thumbnail" >
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="text-center mt-2">Below rooms are avaialable , Please choose your Room </h1>


            <br>

            {{$rooms:= index .Data "rooms"}}

            <ul  class="chooseroom">
                    {{range $rooms}}
                        <h3 class="mt-4">
                        <li> <a href="/choose-room/{{.ID}}">{{.RoomName}}</a></li>
                        </h3>
                    {{end}}
            </ul>
      </div>
    </div>
</div>

{{end}}


