{{template "base" .}}

{{define "content"}}
<div class="container">

  <div class="row ">
    <div class="col-lg-12 col-md-12 col-md-12 col-sm-12 col-xs-12 ">
      <img src="/static/images/image11.png" class=" mx-auto d-block img-fluid  img-thumbnail" >
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-2">Contact </h1>
      <p>Travel Travel Travel Travel Travel Travel Travel Travel Travel Travel
         Travel Travel Travel Travel Travel Travel Travel Travel Travel Travel 
         Travel Travel Travel Travel Travel Travel Travel Travel Travel Travel
         Travel Travel Travel Travel Travel Travel Travel Travel Travel Travel 
         Travel Travel Travel Travel Travel Travel Travel Travel Travel Travel
         Travel Travel Travel Travel Travel Travel Travel Travel Travel Travel 
         Travel Travel Travel Travel Travel Travel Travel Travel Travel 
         </p>
    </div>
  </div>

</div>
{{end}}